@model IEnumerable<Owner>

@{
    ViewBag.Title = "Владельцы";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h2>
	Владельцы
</h2>
@Html.ActionLink("Добавить", "Create", "Owner", null, new { @class = "btn" })
<table class="table">
	<thead>
		<tr>
			<th>
					#
			</th>
            <th> 
			    Имя
		    </th>
			<th>
			</th>
		</tr>
	</thead>
	@foreach(var item in Model) 
    {
	<tr>
		<td> 
			@item.ID
		</td>
        <td> 
			@item.Name
		</td>
		<td>
			@Html.ActionLink("Изменить", "Edit", "Owner", new { id = item.ID }, new { @class = "btn  btn-default" })
            @Html.ActionLink("Удалить", "Delete", "Owner", new { id = item.ID }, new { @class = "btn  btn-danger" })
		</td>
	</tr>
	}
</table>
