@model urban100.Web.Models.ViewModels.User.UserView
@{
    ViewBag.Title = Model.ID == 0 ? "Добавить пользователя" : "Изменить пользователя";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section styles {
    @Styles.Render("~/Content/css/fineuploader")
}
@section header
{
    @Scripts.Render("~/bundles/fineuploader")
    <script type="text/javascript" src="/Scripts/admin/edit-owner.js"></script>
}
<h2>@(Model.ID == 0 ? "Добавить пользователя" : "Изменить пользователя")</h2>
<p></p>
@using (Html.BeginForm("Edit", "User", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <fieldset>
        @Html.Hidden("ID", Model.ID)
        <div class="form-group @Html.HasErrorClass("Email", "has-error")">
            <label class="col-sm-3 control-label" for="Email">
                Email
            </label>
            <div class="col-sm-5">
                @Html.TextBox("Email", Model.Email, new { @class = "form-control" })
            </div>
            <div class="col-sm-4">
                @Html.ValidationMessage("Email")
            </div>
        </div>
        <div class="form-group @Html.HasErrorClass("FirstName", "has-error")">
            <label class="col-sm-3 control-label" for="Email">
                Имя
            </label>
            <div class="col-sm-5">
                @Html.TextBox("FirstName", Model.FirstName, new { @class = "form-control" })
            </div>
            <div class="col-sm-4">
                @Html.ValidationMessage("FirstName")
            </div>
        </div>
        <div class="form-group @Html.HasErrorClass("LastName", "has-error")">
            <label class="col-sm-3 control-label" for="LastName">
                Фамилия
            </label>
            <div class="col-sm-5">
                @Html.TextBox("LastName", Model.LastName, new { @class = "form-control" })
            </div>
            <div class="col-sm-4">
                @Html.ValidationMessage("LastName")
            </div>
        </div>
        <div class="col-md-3">
            <img src="@Model.FullAvatarPath" alt="@Model.FirstName" id="AvatarImage" />
            <br />
            <br />
            <div id="ChangeAvatar">Change</div>
            @Html.Partial("UploadTemplate")
            
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                Сохранить
            </button>
            @Html.ActionLink("Cancel", "Index", null, null, new { @class = "btn" })
        </div>
    </fieldset>
}
