@model urban100.Web.Models.ViewModels.User.ChangePasswordView

@{
    ViewBag.Title = "Change password";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}

@if (TempData["message"] != null)
{
    <h1><small>@TempData["message"]</small></h1>
}
@using (Html.BeginForm("ChangePassword", "User", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.Hidden("ID", Model.ID)
    <fieldset>
        <legend>Change password</legend>
        <div class="control-group">
            <label class="control-label" for="Password">
                Password
            </label>
            <div class="controls">
                @Html.Password("Password", Model.Password, new { @class = "input-xlarge" })
                @Html.ValidationMessage("Password")
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="NewPassword">
                New password
            </label>
            <div class="controls">
                @Html.Password("NewPassword", Model.NewPassword, new { @class = "input-xlarge" })
                @Html.ValidationMessage("NewPassword")
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="ConfirmPassword">
                Confirm password
            </label>
            <div class="controls">
                @Html.Password("ConfirmPassword", Model.ConfirmPassword, new { @class = "input-xlarge" })
                @Html.ValidationMessage("ConfirmPassword")
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                Change
            </button>
        </div>
    </fieldset>
}
